//- Строка информации в шапке
include ./../sections/header__info-line.pug
//- // Строка информации в шапке

//- Основная панель шапки
include ./../sections/header-panel.pug
//- // Основная панель шапки
