.header-panel
    .container
        .header-panel__row
            .header-panel__atributs
                .header-panel__left-col
                    .header-panel__logo
                        a(href="#!")
                            img(src="./img/header-logo.png", alt="logo")
                        .header-panel__slogan Ваш эксперт на рынке <span>3D</span>-техники
                    .header-panel__appraisal
                        img(src="./img/yandex-market-logo.png", alt="Яндекс-маркет лого")
                .header-panel__right-col
                    form.header-panel__search
                        input(type="search" placeholder="Введите запрос, например, Formlabs Form 2")
                        button Найти
                    
                    a(href="#!")
                        .header-panel__search--mini
                            .search-icon
                                include ../../img/search-icon.svg
                            span Поиск

                    a(href="#!")
                        .header-panel__login
                            include ../../img/exit-icon.svg
                            span Войти
                    a(href="#!")
                        .header-panel__bascet
                            include ../../img/bascet-icon.svg
                            span Корзина пуста

            a(href="#!").nav__mobile-menu Меню

            ul.header-panel__nav
                li
                    a(href="#!") Акции
                li
                    a(href="#!") О нас
                li
                    a(href="#!") Мероприятия
                li
                    a(href="#!") Оплата и доставка
                li
                    a(href="#!") Что с моим заказом?
                li
                    a(href="#!") Гос. закупки
                li
                    a(href="#!") Блог
                li
                    a(href="#!") Мастер-классы
                li
                    a(href="#!") Контакты

    .header-panel__offers
        .container
            .header-panel__row
                a(href="#!").offers__mobile-menu Наши предложения
                ul.header-panel__offers-list
                    li 
                        span 3D-принтеры
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span 3D-сканеры
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Станки
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Роботы
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Образование
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Стоматологам
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Гаджеты
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Материалы
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span ПО
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Решения
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown.offers__dropdown--right
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Учебный центр
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown.offers__dropdown--right
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
                    li 
                        span Услуги
                        include ../../img/arrow-bottom-grey.svg
                        .offers__dropdown.offers__dropdown--right
                            ul.offers__dropdown-list
                                li
                                    a(href="#!") Пункт 1
                                li
                                    a(href="#!") Пункт 2
                                li
                                    a(href="#!") Пункт 3
