.header__info-line
    .container
        .info-line__row

            .info-line__left-col
                a(href="#!").info-line__town
                    span Санкт-Петербург
                    include ../../img/arrow-bottom.svg
                a(href="tel:+78126135738").info-line__phone +7 (812) 613-58-38
                .info-line__worktime Пн–пт 10:00–19:00, сб-вс 10:00–17:00

            .info-line__right-col
                a(href="#!").info-line__write-to-us Напишите нам
                a(href="#!").info-line__for-director Свяжитесь с директором
                .info-line__social-icons
                    a(href="#!").social-icons__telegramm
                        include ../../img/telegramm.svg
                    a(href="#!").social-icons__scype
                        include ../../img/scype.svg
                    a(href="#!").social-icons__phone
                        include ../../img/phone.svg