.section-about-company
    .container
        .about-company__row
            h2.section-title Лучше один раз увидеть:
            ul.about-company__list
                li
                    a(href="#!")
                        .about-company__list-item Как устроена наша компания изнутри
                            include ../../img/more-icon.svg
                li
                    a(href="#!")
                        .about-company__list-item Как создавалась компания - необычная история
                            include ../../img/more-icon.svg
                li
                    a(href="#!")
                        .about-company__list-item Читай о нас на 3D Today
                            include ../../img/more-icon.svg