.section-video
    .container
        .section-video__row
            h2.section-video__title Видео о нас
            .section-video__slider
                a(href="#!")
                    img(src="./img/video-img01.jpg", alt="Video 1")
                a(href="#!")
                    img(src="./img/video-img02.jpg", alt="Video 1")
                a(href="#!")
                    img(src="./img/video-img02.jpg", alt="Video 1")

h3.end end
