mixin tools-card(title, img)
    .tools-card
        .tools-card-icon
            img(src="./img/design-tools/" + img, alt= title)
        .tools-card-title #{title}
        .tools-card-text
            block
            